<h1 class='text-center float-none'>New Chela</h1>
<div class='row'>
 <div class="col-md-6 offset-md-3">
<%= form_with(model: @beer, local: true ) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class:'form-control border border-danger rounded-pill' %>
  </div>
  <br>
  <div class="form-check">
    <%= f.check_box :available, class:'form-check-input rounded-pill' %>
    <%= f.label :available, class:'form-check-label', for:'available' %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :price %>
    <%= f.number_field :price, class:'form-control rounded-pill' %>
  </div>
  <div class="form-group">
    <%= f.label :picture %>
    <%= f.text_field :picture, class:'form-control rounded-pill' %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class:'form-control rounded-pill' %>
  </div>
    <%= f.submit class: 'btn btn-info btn-block btn btn-danger rounded-pill' %>
<% end %>
  </div>
</div>
